{% extends "template.html" %}
{% block conteudo %}
<div class="page-header">
    <h2>{{ titulo }}</h2>
</div>
<table>
    <thead class="thead-default">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Nome de usuário</th>
            <th>Funções</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefone }}</td>
            <td>{{ cliente.nickname }}</td>
            <td>
                <div class="delete-edit">
                    <a href="{{ url_for('editar', id=current_user.id) }}"><i
                            class="ri-ball-pen-line link-icons" title="Editar"></i></a>
                    {% if current_user.id == cliente.id %}
                    <button class="btn-delete link-icons" class="link-icons"><i class="ri-delete-bin-5-line link-icons"
                            title="Deletar"></i></button>

                    <div id="div-delete">
                        <h4>Tem certeza que deseja deletar seus dados?</h4>
                        <div class="div-delete-buttons">
                            <a id="btn-sim"
                                href="{{ url_for('deletar', id=cliente.id) }}">Sim</a>
                            <button id="btn-nao">Não</button>
                        </div>

                    </div>
                    {% else %}
                    <a href="{{ url_for('deletar', id=cliente.id) }}"><i
                            class="ri-delete-bin-5-line link-icons" title="Deletar"></i></a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}

        <script>
            const divDelete = document.getElementById('div-delete')
            const btnNao = document.getElementById('btn-nao')

            function openDelete() {
                divDelete.style.display = 'block'
            }

            function closeDelete() {
                divDelete.style.display = 'none'
            }

            const elements = document.getElementsByClassName('btn-delete');

            Array.from(elements).forEach(function (element) {
                element.addEventListener('click', openDelete);
            });

            document.getElementById('btn-nao').addEventListener('click', () => closeDelete())

        </script>

    </tbody>
</table><br>

<a href="{{ url_for('novo') }}" class="btn">Novo usuário<i class="ri-add-circle-line button-icon"></i></a>

</div>
</body>

</html>
{% endblock %}