{% extends "template.html" %}
{% block conteudo %}
<div class="page-header">
  <h2>{{ titulo }}</h2>
</div>

<form class="form" action="{{ url_for('atualizar') }}" method="post">

  <input type="hidden" name="id" value="{{ current_user.id }}" required>
  <h4>Dados de contato</h4>
  <label class="label-input" for="">
    <input type="email" maxlength="100" id="email" name="email" placeholder="Email" required
      value="{{ current_user.email }}">

    <input type="text" class="margin-left" id="telefone" name="telefone" placeholder="Telefone" maxlength="15"
      onkeydown="javascript: fMasc( this, mTel);" required value="{{ current_user.telefone }}">
  </label>

  <h4>Dados de endereço</h4>
  <label>
    <input type="text" id="cep" name="cep" size="10" placeholder="CEP" maxlength="9" onblur="pesquisacep(this.value);"
      onkeydown="javascript: fMasc( this, mCEP );" required value="{{ current_user.cep }}" />

    <input type="text" class="margin-left" id="uf" name="uf" size="2" placeholder="UF" value="{{ current_user.uf }}" />

    <input type="text" maxlength="50" class="margin-left" id="cidade" name="cidade" size="40" placeholder="Cidade"
      value="{{ current_user.cidade }}" />

  </label>

  <label class="label-input" for="">
    <input type="text" id="rua" name="rua" size="60" placeholder="Rua" value="{{ current_user.rua }}" />
    <input type="text" class="margin-left" id="numero" name="numero" maxlength="7" placeholder="Número" required
      value="{{ current_user.numero }}"></label>
  <label class="label-input" for="">
    <input type="text" id="complemento" name="complemento" placeholder="Complemento"
      value="{{ current_user.complemento }}"></label>
  <label class="label-input" for="">
    <input type="text" id="bairro" name="bairro" size="40" placeholder="Bairro" value="{{ current_user.bairro }}" /></label>


  <div class="two-buttons">
    <button type="submit" class="btn">Salvar<i class="ri-save-3-fill button-icon"></i></button>
    <a href="{{ url_for('usuarios') }}" class="btn margin-left">Cancelar<i class="ri-close-circle-line button-icon"></i></a><br>
</div>

</form>
</div>
</body>

</html>
{% endblock %}