{% extends "template.html" %}
{% block conteudo %}
<div class="page-header">
  <h2>{{ titulo }}</h2>
</div>

<form class="form" action="{{ url_for('atualizar') }}" method="post">

  <input type="hidden" name="id" value="{{ usuario.id }}" required>
  <h4>Dados de contato</h4>
  <label class="label-input" for="">
    <input type="email" maxlength="100" id="email" name="email" placeholder="Email" required
      value="{{ usuario.email }}">

    <input type="text" class="margin-left" id="telefone" name="telefone" placeholder="Telefone" maxlength="15"
      onkeydown="javascript: fMasc( this, mTel);" required value="{{ usuario.telefone }}">
  </label>

  <h4>Dados de endereço</h4>
  <label>
    <input type="text" id="cep" name="cep" size="10" placeholder="CEP" maxlength="9" onblur="pesquisacep(this.value);"
      onkeydown="javascript: fMasc( this, mCEP );" required value="{{ usuario.cep }}" />

    <input type="text" class="margin-left" id="uf" name="uf" size="2" placeholder="UF" value="{{ usuario.uf }}" />

    <input type="text" maxlength="50" class="margin-left" id="cidade" name="cidade" size="40" placeholder="Cidade"
      value="{{ usuario.cidade }}" />

  </label>

  <label class="label-input" for="">
    <input type="text" id="rua" name="rua" size="60" placeholder="Rua" value="{{ usuario.rua }}" />
    <input type="text" class="margin-left" id="numero" name="numero" maxlength="7" placeholder="Número" required
      value="{{ usuario.numero }}"></label>
  <label class="label-input" for="">
    <input type="text" id="complemento" name="complemento" placeholder="Complemento"
      value="{{ usuario.complemento }}"></label>
  <label class="label-input" for="">
    <input type="text" id="bairro" name="bairro" size="40" placeholder="Bairro" value="{{ usuario.bairro }}" /></label>

  <h4 class="margin-left">Dados de login</h4>

  <label class="label-input" for="" style="position: relative;">
    <input type="text" id="nickname" name="nickname" size="40" placeholder="Nome de usuário"
      value="{{ usuario.nickname }}" />
    <input type="password" class="margin-left" name="senha" id="senha" placeholder="Senha"
      value="{{ usuario.senha }}" />
    <i class="ri ri-eye-off-fill ri-eye-fill" id="togglePassword"></i>

    <script>

      const togglePassword = document.querySelector('#togglePassword');
      const password = document.querySelector('#senha');
      togglePassword.addEventListener('click', function (e) {

        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);

        this.classList.toggle('ri-eye-off-fill');
      });

    </script>
  </label>


  <div class="two-buttons">
    <button type="submit" class="btn">Salvar<i class="ri-save-3-fill button-icon"></i></button>
    <a href="{{ url_for('usuarios') }}" class="btn margin-left">Cancelar<i class="ri-close-circle-line button-icon"></i></a><br>
</div>

</form>
</div>
</body>

</html>
{% endblock %}