{% extends "template.html" %}
{% block conteudo %}
<div class="page-header">
    <h2>{{ titulo }}</h2>
</div>

<div class="perfil">
    <i class="ri-user-line icon"></i>
    <h2>{{ current_user.nome }}</h2>
</div>

<div class="dados-pessoais margin-top">
    <span class="dados"><i class="ri-mail-line"></i><span class="margin-left">{{ current_user.email }}</span></span>
    <span class="dados"><i class="ri-phone-line"></i><span class="margin-left">{{ current_user.telefone }}</span></span>
    <span class="dados"><i class="ri-user-line"></i><span class="margin-left">{{ current_user.nickname }}</span></span>
</div>


<div class="two-buttons">
    <a href="{{ url_for('meus_agendamentos') }}" class="btn btn-perfil margin-left">Meus agendamentos<i
            class="ri-calendar-2-line button-icon"></i></a>
    <a href="{{ url_for('clientes') }}" class="btn margin-left btn-perfil">Voltar<i
            class="ri-arrow-left-line button-icon"></i></a>
</div>

{% endblock %}

</body>

</html>