{% extends "template.html" %}
{% block conteudo %}
<div class="page-header">
    <h2>{{ titulo }}</h2>
</div>
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
        <tr>
            <th>Id</th>
            <th>Serviço</th>
            <th>Funções</th>
        </tr>
    </thead>
    <tbody>
        {% for servico in servicos %}
        <tr>
            <td>{{ servico.id_servico }}</td>
            <td>{{ servico.nome_servico }}</td>
            <td>
                <div class="delete-edit">
                    <a href="#"><i
                            class="ri-ball-pen-line link-icons" title="Editar serviço"></i></a>
                    <button class="btn-delete link-icons"><i class="ri-close-circle-line link-icons"
                            title="Deletar serviço"></i></button>

                    <div id="div-delete">
                        <h4>Tem certeza que deseja deletar o serviço?</h4>
                        <div class="div-delete-buttons">
                            <a id="btn-sim"
                                href="#">Sim</a>
                            <button id="btn-nao">Não</button>
                        </div>

                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}

        <script>
            const divDelete = document.getElementById('div-delete')
            const btnNao = document.getElementById('btn-nao')

            function openDelete() {
                divDelete.style.display = 'block'
            }

            function closeDelete() {
                divDelete.style.display = 'none'
            }

            const elements = document.getElementsByClassName('btn-delete');

            Array.from(elements).forEach(function (element) {
                element.addEventListener('click', openDelete);
            });

            document.getElementById('btn-nao').addEventListener('click', () => closeDelete())

        </script>

    </tbody>
</table><br>

<a href="{{ url_for('novo_servico') }}" class="btn">Novo servico<i class="ri-calendar-2-line button-icon"></i></a>

</div>
</body>

</html>
{% endblock %}