{% extends "template.html" %}
{% block conteudo %}
<div class="page-header">
    <h2>{{ titulo }}</h2>
</div>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus impedit, necessitatibus id hic
    nesciunt ratione debitis sunt, quasi provident distinctio aliquid officiis. Ab est voluptate inventore
    corporis earum, ipsum numquam?
</p>

<a href="{{ url_for('index') }}" class="btn">Voltar<i
        class="ri-arrow-left-line button-icon"></i></a><br>

</div>

<div class="social-media">
<a href="https://www.linkedin.com/in/silva-guilherme-costa/" class="icon" target="_blank"><i
        class="ri-linkedin-fill"></i></a>
<a href="https://api.whatsapp.com/send?phone=+5511932905813&text=Olá Guilherme!" class="icon"
    target="_blank"><i class="ri-whatsapp-fill"></i></a>
<a href="https://github.com/Guilhermecst" class="icon"><i class="ri-github-fill" target="_blank"></i></a>
</div>

</div>
</body>

</html>
{% endblock %}