<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://example.com/example-framework.js" crossorigin="anonymous"></script>

    <script>

        function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('rua').value = ("");
            document.getElementById('bairro').value = ("");
            document.getElementById('cidade').value = ("");
            document.getElementById('uf').value = ("");
        }

        function meu_callback(conteudo) {
            if (!("erro" in conteudo)) {
                //Atualiza os campos com os valores.
                document.getElementById('rua').value = (conteudo.logradouro);
                document.getElementById('bairro').value = (conteudo.bairro);
                document.getElementById('cidade').value = (conteudo.localidade);
                document.getElementById('uf').value = (conteudo.uf);
            } //end if.
            else {
                //CEP não Encontrado.
                limpa_formulário_cep();
                alert("CEP não encontrado.");
            }
        }

        function pesquisacep(valor) {

            //Nova variável "cep" somente com dígitos.
            var cep = valor.replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    document.getElementById('rua').value = "...";
                    document.getElementById('bairro').value = "...";
                    document.getElementById('cidade').value = "...";
                    document.getElementById('uf').value = "...";

                    //Cria um elemento javascript.
                    var script = document.createElement('script');

                    //Sincroniza com o callback.
                    script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

                    //Insere script no documento e carrega o conteúdo.
                    document.body.appendChild(script);

                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        };

    </script>

    <script type="text/javascript">

        function fMasc(objeto, mascara) {
            obj = objeto
            masc = mascara
            setTimeout("fMascEx()", 1)
        }
        function fMascEx() {
            obj.value = masc(obj.value)
        }
        function mTel(tel) {
            tel = tel.replace(/\D/g, "")
            tel = tel.replace(/^(\d)/, "($1")
            tel = tel.replace(/(.{3})(\d)/, "$1) $2")
            if (tel.length == 9) {
                tel = tel.replace(/(.{1})$/, "-$1")
            } else if (tel.length == 10) {
                tel = tel.replace(/(.{2})$/, "-$1")
            } else if (tel.length == 11) {
                tel = tel.replace(/(.{3})$/, "-$1")
            } else if (tel.length == 12) {
                tel = tel.replace(/(.{4})$/, "-$1")
            } else if (tel.length > 12) {
                tel = tel.replace(/(.{4})$/, "-$1")
            }
            return tel;
        }
        function mCNPJ(cnpj) {
            cnpj = cnpj.replace(/\D/g, "")
            cnpj = cnpj.replace(/^(\d{2})(\d)/, "$1.$2")
            cnpj = cnpj.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3")
            cnpj = cnpj.replace(/\.(\d{3})(\d)/, ".$1/$2")
            cnpj = cnpj.replace(/(\d{4})(\d)/, "$1-$2")
            return cnpj
        }
        function mCPF(cpf) {
            cpf = cpf.replace(/\D/g, "")
            cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
            cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
            cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2")
            return cpf
        }
        function mCEP(cep) {
            cep = cep.replace(/\D/g, "")
            cep = cep.replace(/^(\d{5})(\d)/, "$1-$2")
            return cep
        }
        function mNum(num) {
            num = num.replace(/\D/g, "")
            return num
        }
        function mData(campo, e) {
            var kC = (document.all) ? event.keyCode : e.keyCode;
            var data = campo.value;

            if (kC != 8 && kC != 46) {
                if (data.length == 2) {
                    campo.value = data += '/';
                }
                else if (data.length == 5) {
                    campo.value = data += '/';
                }
                else
                    campo.value = data;
            }
        }

    </script>

</head>

<body>

    <div class="container">
        <div class="column">

            {% if session['nickname'] == None %}
            <div class="sidebar">
                <div class="logo-details">
                    <h2 class="menu-msg">Bem vindo!</h2>
                    <i class='ri-menu-fill' id="btn"></i>
                </div>
                <ul class="nav-list">

                    <li>
                        <a href="{{ url_for('index') }}">
                            <i class='ri-home-4-line'></i>
                            <span class="links_name">Home</span>
                        </a>
                        <span class="tooltip">Home</span>
                    </li>
                    <li>
                        <a href="{{ url_for('login') }}">
                            <i class='ri-login-box-line'></i>
                            <span class="links_name">Login</span>
                        </a>
                        <span class="tooltip">Login</span>
                    </li>
                    <li>
                        <a href="{{ url_for('novo') }}">
                            <i class='ri-user-add-line'></i>
                            <span class="links_name">Cadastre-se</span>
                        </a>
                        <span class="tooltip">Cadastre-se</span>
                    </li>
                    <li>
                        <a href="{{ url_for('sobre') }}">
                            <i class='ri-newspaper-line'></i>
                            <span class="links_name">Sobre</span>
                        </a>
                        <span class="tooltip">Sobre</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class='ri-settings-3-line'></i>
                            <span class="links_name">Configurações</span>
                        </a>
                        <span class="tooltip">Configurações</span>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <i class='ri-question-line'></i>
                            <span class="links_name">Ajuda</span>
                        </a>
                        <span class="tooltip">Ajuda</span>
                    </li>

                </ul>
            </div>

            {% endif %}

            {% if session['nickname'] != None %}
            <div class="sidebar">
                <div class="logo-details">
                    <i class='ri-user-line icon'></i>
                    <div class="menu-msg">{{ session['nome'] }}</div>
                    <i class='ri-menu-fill' id="btn"></i>
                </div>
                <ul class="nav-list">
                    <li>
                        <i class='ri-search-2-line'></i>
                        <input type="text" placeholder="Pesquisar...">
                        <span class="tooltip">Pesquisar</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class='ri-user-line'></i>
                            <span class="links_name">Perfil</span>
                        </a>
                        <span class="tooltip">Perfil</span>
                    </li>
                    <li>
                        <a href="{{ url_for('agenda') }}">
                            <i class='ri-calendar-2-line'></i>
                            <span class="links_name">Agenda</span>
                        </a>
                        <span class="tooltip">Agenda</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class='ri-notification-3-line'></i>
                            <span class="links_name">Notificações</span>
                        </a>
                        <span class="tooltip">Notificações</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class='ri-chat-3-line'></i>
                            <span class="links_name">Menssagens</span>
                        </a>
                        <span class="tooltip">Menssagens</span>
                    </li>
                    <li>
                        <a href="{{ url_for('sobre') }}">
                            <i class='ri-newspaper-line'></i>
                            <span class="links_name">Sobre</span>
                        </a>
                        <span class="tooltip">Sobre</span>
                    </li>
                    <li>
                        <a href="#">
                            <i class='ri-settings-3-line'></i>
                            <span class="links_name">Configurações</span>
                        </a>
                        <span class="tooltip">Configurações</span>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <i class='ri-question-line'></i>
                            <span class="links_name">Ajuda</span>
                        </a>
                        <span class="tooltip">Ajuda</span>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <i class='ri-logout-box-line'></i>
                            <span class="links_name">Sair</span>
                        </a>
                        <span class="tooltip">Sair</span>
                    </li>

                </ul>
            </div>
            {% endif %}

            <script>
                let sidebar = document.querySelector(".sidebar");
                let closeBtn = document.querySelector("#btn");
                let searchBtn = document.querySelector(".ri-search-2-line");

                closeBtn.addEventListener("click", () => {
                    sidebar.classList.toggle("open");
                    menuBtnChange();
                });

                searchBtn.addEventListener("click", () => {
                    sidebar.classList.toggle("open");
                    menuBtnChange();
                });

                function menuBtnChange() {
                    if (sidebar.classList.contains("open")) {
                        closeBtn.classList.replace("ri-menu-fill", "ri-arrow-left-line");
                    } else {
                        closeBtn.classList.replace("ri-arrow-left-line", "ri-menu-fill");
                    }
                }
            </script>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
            </ul><br>
            {% endif %}
            {% endwith %}

            {% block conteudo %}{% endblock %}

        </div>
    </div>
</body>

</html>